<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="DevModeSettings">
      <section name="debug" type="AppSettingDependOnConfigMode.DevModeSetting,AppSettingDependOnConfigMode" allowLocation="true" allowDefinition="Everywhere"/>
      <section name="release" type="AppSettingDependOnConfigMode.DevModeSetting,AppSettingDependOnConfigMode" allowLocation="true" allowDefinition="Everywhere"/>
    </sectionGroup>
  </configSections>

  <DevModeSettings>
    <debug testProp="tetsProp-debug"/>
    <release testProp="tetsProp-release"/>
  </DevModeSettings>

  <appSettings>
    <add key="testProp" value="464665646456546" />
  </appSettings>

  <!--<startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>-->

</configuration>