<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="DevModeSettings">
      <section name="debug" type="AppSettingDependOnConfigMode.DevModeSetting,AppSettingDependOnConfigMode" allowLocation="true" allowDefinition="Everywhere"/>
      <section name="release" type="AppSettingDependOnConfigMode.DevModeSetting,AppSettingDependOnConfigMode" allowLocation="true" allowDefinition="Everywhere"/>
    </sectionGroup>
  </configSections>

  <DevModeSettings>
    <debug testProp="tetsProp-debug"/>
    <release testProp="tetsProp-release"/>
  </DevModeSettings>

  <appSettings>
    <add key="testProp" value="464665646456546" />
  </appSettings>

  <!--<startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>-->

  <!--Test load Client adress-->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="FlwsBinding" closeTimeout="00:01:00" openTimeout="00:01:00"
                 receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                 bypassProxyOnLocal="false" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
                 useDefaultWebProxy="true">
          <security mode="Transport" />
        </binding>
        <binding name="FlwsSoapBinding" closeTimeout="00:01:00" openTimeout="00:01:00"
                 receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                 bypassProxyOnLocal="false" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
                 useDefaultWebProxy="true" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://ws.flexlink.com/flws-movex/services/FlwsServiceImplPort"
                binding="basicHttpBinding" bindingConfiguration="FlwsBinding"
                contract="FlqtService.FlwsServiceImpl" name="FlwsServiceImplPortMovex" />

      <endpoint address="http://flse1-wdev2.flexlink.org/flws/services/FlwsServiceImplPort"
                binding="basicHttpBinding" bindingConfiguration="FlwsSoapBinding"
                contract="FlqtService.FlwsServiceImpl" name="FlwsServiceImplPortSap" />
    </client>
  </system.serviceModel>

</configuration>